name: Run unit tests
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-python@v2
        with:
          python-version: '3.8'
      - name: Run unit tests
        uses: onichandame/python-test-action@master
        with:
          deps_list: 'requirements.txt'